
body {
}
#cadre {
    width: 95vw;
    height: 95vh;
    background: pink;
    border: 1px solid black;
    cursor: url('../liste6.png'), pointer;
    position: relative;
}
.image {
    width: 7rem;
    height: 7rem;
    position:absolute;
    top:0;
    left:0;
    z-index:1;

}
